<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PokeAPI Web App</title>
</head>
<body>
  <h1>Pokémon List</h1>
  <ul>
    <% pokemonList.forEach(pokemon => { %>
      <li><%= pokemon.name %></li>
    <% }); %>
  </ul>

  <div>
    <% if (currentPage > 1) { %>
      <a href="/?page=1">First</a>
      <a href="/?page=<%= currentPage - 1 %>">Previous</a>
    <% } %>

    <% for (let i = 1; i <= totalPages; i++) { %>
      <% if (i === currentPage) { %>
        <span><%= i %></span>
      <% } else { %>
        <a href="/?page=<%= i %>"><%= i %></a>
      <% } %>
    <% } %>

    <% if (currentPage < totalPages) { %>
      <a href="/?page=<%= currentPage + 1 %>">Next</a>
      <a href="/?page=<%= totalPages %>">Last</a>
    <% } %>
  </div>

</body>
</html>
